

body {
  font-family: "Share Tech Mono", monospace;
  font-family: "Varela Round", sans-serif;
}

body html {
  height: 100%;
}

a {
  text-decoration: none;
  color: rgb(93, 75, 181);
}


body {
  background-color: white;
}
/* .navbar-brand {
  font-size: 3em;
} */

.navbar-brand.navbar-brand {
  color: black;
}

.navbar-brand.navbar-brand span {
  color: black;
  font-weight: 900;
}
.card {
  box-shadow: 0 0 16px rgb(93, 75, 181);
  border: 1px solid black;
}

/* .card-header {
  font-size: 1.5em;
} */

.rotate {
  animation: rotation 60s infinite linear;
}

@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
}

.special-nav {
  background-image: linear-gradient(rgb(93, 75, 181), white);
}

.special-footer {
  background-image: linear-gradient(white, rgb(93, 75, 181));
}

.portfolioCarousel {
  padding: 45px;
  box-shadow: 0 0 16px rgb(93, 75, 181);
}

.headshot {
  max-height: 350px;
  max-width: 350px;
  display: flex;
}

.carousel-item {
  max-width: 100%;
  padding-bottom: 40px;
}

.btn {
  background-color: rgb(200, 196, 196);
  color: rgb(93, 75, 181);
}

.btnContainer {
  margin-right: 50px;
}

.carousel-caption {
  background-color: rgba(128, 128, 128, 0.688);
  border-radius: 5px;
  border: 1px solid black;
}
.modal-body {
  font-size: 1.5em;
}

.icons {
  max-width: 25px;
  max-height: 25px;
}
